{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if content %}
        <h1>{{title}}</h1>
        <a class="btn btn-link" href="{% url 'update' title %}" role="button">Edit</a>
        {{ content|safe }}
    {% else %}
        <h1>Page Not Found</h1>
        <span>
            No page with the exact name '{{ title }}' found. <br>
            It might have a different spelling, or it doesn't exists yet.
        </span>
    {% endif %}

{% endblock %}
